body { 
      font-family: Arial, sans-serif; 
      margin: auto; 
      padding: auto; 
      background: linear-gradient(to right, #0088ff, #00f2fe); 
      color: #000000;
      text-align: center;  
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      background-image: url("./img/app.jpg");
      background-size: 800px;    
      background-position:center;
      background-repeat: no-repeat;
      
    }

    .container { 
      max-width: 90%;
      margin: auto;
      background: rgba(0, 0, 0, 0.15); 
      padding: 250px; 
      border-radius: 10px; 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-size: cover;
      background-position: center;
      margin-top: 0px;
    }

    select {
      padding: 12px;
      font-size: 16px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      background: #fff;
      color: #000000;
      width: 100%;
      max-width: 300px;
    }

    select:focus {
      outline: none;
      background: #e0f7fa;
    }

    footer {
      margin-top: auto;
      text-align: center;
      padding: 10px;
      color: #fff;
      background: rgba(0, 0, 0, 0.2);
    }
    @media (max-width: 480px) {
  h1 {
    font-size: 1.4rem;
  }
}


